<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="page-kontakt">
    <template>
        <style include="shared-styles">
            :host {
                display: flex;
                justify-content: center;
            }
        </style>
		
		<div class="Page">
			<div class="Page__section">
		        <paper-material class="Page__item" elevation="1">
		        	<span>
			            <h1>Kontakt</h1>
			            <p>Geladaris Immobilien
			                <br> Bleicherstr. 7
			                <br> 42283 Wuppertal
			                <br> Tel.: 0202 / 2604290
			                <br> E-Mail: info@geladaris.de
			            </p>
		        	</span>
					<br>
					<br>
		        	<span>
			            <h1>Öffnungszeiten</h1>
			            <p>
			            Montag bis Freitag von 09:00 - 14:00 Uhr <br>
			            <br>
			            Außerhalb der Öffnungszeiten gerne und stets nach Terminabsprache unter 0202 / 2604290
			            </p>
		        	</span>
		        </paper-material>
			</div>

			<paper-material class="Page__map" elevation="1">
				<google-map api-key="AIzaSyAc9Hw2qE9koj_i36KhNOyCKivPG5kzvaQ" map="[[map]]" latitude="51.270155" longitude="7.193181" zoom="15">
					<google-map-marker latitude="51.269995" longitude="7.193205" title="Geladaris Immobilien"></google-map-marker>
				</google-map>
			</paper-material>
		</div>

    </template>
    <script>
        Polymer({
            is: 'page-kontakt'
        });
    </script>
</dom-module>