<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="page-leistungen">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        justify-content: center;
        background-image: url(../../images/520322506.jpg);
        background-size: cover;
      }
    </style>

    <div class="Page">
      <div class="Page__section">
        <paper-material class="Page__item" elevation="1">
          <h1>Verwaltung von Wohneigentümergemeinschaften</h1>
          <span>
            <h2>Regelleistungen zur Kaufmännischen Verwaltung des Objekts</h2>
            <ul>
              <li>Einberufung einer ordentlichen Eigentümerversammlung pro Wirtschaftsjahr</li>
              <li>Formulierung von Tagesordnungspunkten und Beschlussvorschlägen für die Eigentümerversammlung</li>
              <li>Leitung und Protokollierung einer ordentlichen Eigentümerversammlung pro Wirtschaftsjahr</li>
              <li>Führung der Beschluss-Sammlung gemäß den Vorgaben des § 27 Abs. 7 und 8 WEG</li>
              <li>Bereitstellung von Kopien der Versammlungsprotokolle für die Eigentümer</li>
              <li>Durchführung und Überwachung der Beschlüsse der Eigentümerversammlung</li>
              <li>Aufstellung einer Hausordnung</li>
              <li>Durchführung der Hausordnung gem. § 27 Abs. 1 Nr. 1 WEG</li>
              <li>Überwachung der Einhaltung der Bestimmungen der Teilungserklärung bzw. Gemeinschaftsordnung</li>
              <li>Erstellung der Gesamtjahresabrechnung inkl. der Einzeljahresabrechnungen</li>
              <li>Erstellung des Gesamtwirtschaftsplans inkl. der Einzelwirtschaftspläne</li>
              <li>Berechnung und Vorschlag der Beschlussfassung über etwa notwendige Sonderumlagen</li>
              <li>Kontenführung für die Gemeinschaft</li>
              <li>Abschluss von Verträgen zur Verwaltung des Gemeinschaftseigentums</li>
              <li>Durchführung der Rechnungs- und Belegprüfung mit dem Beirat</li>
              <li>Information über Belange des Gemeinschaftseigentums</li>
              <li>Pflege und Weiterführung der Verwaltungsunterlagen</li>
              <li>Kaufmännische Beratung bei der Vergabe von Instandhaltungs- und Instandsetzungsmaßnahmen sowie sonstigen Vertragsschlüssen inkl. Preisverhandlungen</li>
              <li>Kaufmännische Prüfung von Lieferanten-, Dienstleistunges- und Werkunternehmerrechnungen</li>
              <li>Kaufmännische Prüfung von Einsparungsmöglichkeiten durch Inanspruchnahme von Rahmenverträgen</li>
            </ul>
          </span>
          <span>
            <h2>Regelleistungen zur technischen Verwaltung des Objekts</h2>
            <ul>
              <li>Durchführung regelmäßiger Objektbegehungen</li>
              <li>Überwachung des Hausmeisters und der Reinigungskräfte</li>
              <li>Überwachung der Schee- und Glatteisbeseitigung sowie Säuberung des Außenbereichs durch die hiermit Beauftragten</li>
              <li>Überwachung der gärtnerischen Betreuung der Grünanlagen durch die hiermit Beauftragten</li>
              <li>Überwachung der Instandhaltungs- bzw. Instandsetzungsnotwendigkeit an gefahrgeneigten Anlagen, Bau- und Einrichtungsteilen des Gemeinschaftseigentums</li>
              <li>Überwachung der technischen Anlagen durch Abschluss und Überwachung von Voll- bzw. Teilwartungsverträgen</li>
              <li>Einholung von Angeboten zur Instandhaltung und Instandsetzung des Gemeinschaftseigentums</li>
              <li>Kaufmännische Überwachung der Instandsetzungs- und Instandhaltungsarbeiten</li>
            </ul>
          </span>
        </paper-material>
      </div>
      <div class="Page__section">
        <paper-material class="Page__item" elevation="1">
          <h1>Umfang besonderer Verwaltungsleistungen</h1>
          <span>
            <ul>
              <li>Abmahnung zahlungssäumiger Eigentümer</li>
              <li>Führung außergerichtlicher und gerichtlicher Streitigkeiten der Eigentümergemeinschaft gem. § 27 Abs. 1 Nr. 7 WEG </li>
              <li>Zuarbeit, Unterlagenzusammenstellung, Führung von Schriftverkehr, Anfertigung von Kopien, Warnehmung von Besprechungen und/oder gerichtlichen Temrinen, Über einen Rechtsanwalt abgewickelte Beitreibung rückständiger Beitragsforderungen, sonstige passive oder aktive gerichtliche Verfahren im Zusammenhang mit der Verwaltung des gemeinschaftlichen Eigentums</li>
              <li>Ohne Beauftragung eines Rechtsanwalts geführte außergerichtliche Verfahren zur Beitreibung von  Beitragsforderungen gegen einzelne Wohnungseigentümer bzw. sonstige gerichtliche Aktiv- und Passivverfahren im Zusammenhang mit der Verwaltung des gemeinschaftlichen Eigentums</li>
              <li>Abwicklung jeder Sondereigentumsübertragung</li>
              <li>Zusätzlich einzuberufende Eigentümerversammlungen</li>
              <li>Teilnahme an Beiratssitzungen außerhalb der üblichen Bürozeiten</li>
              <li>Verhandlungen mit Behörden und zur Erfüllung behördlicher Auflagen</li>
              <li>Kaufmännische Betreuung von größeren Instandhaltungs- und Instandsetzungsmaßnahmen, Maßnahmen der modernisierenden Instandsetzung, Modernisierung oder baulichen Änderung</li>
              <li>Erstellung/Wiederherstellung fehlender Verwaltungsunterlagen</li>
              <li>Beschaffung, Prüfung und Verwaltung von Freistellungsbescheinigungen gem. § 48 EStG</li>
              <li>Für die druch Beschluss der Eigetnümer und/oder gerichtlichen Entscheidung wege Abweichung von gesetzlichen bzw. vereinbarten Kostenverteilungsschlüssen neu bzw. korrigiert zu erstellende Jahresgesamt- und Jahreseinzelabrechnungen bzw. Gesamt- und Einzelwirtschaftspläne</li>
              <li>Ermittlung der Grundlagen sowie fortlaufenden Überprüfung eines durch Verinbarung oder Beschluss der Eigentümer oder gerichliche Entscheidung festgelegten ganz oder teilweise personengebundenen Abrechnungsschlüssels</li>
              <li>Bewirkung der Zustellung von Schriftstücken im Ausland</li>
              <li>Für die im Zusammenhang mit neuen gesetzlichen/geänderten gesetzlichen Bestimmungen vom Verwalter zusätzlich zu übernehmenden Verwaltungsaufgaben</li>
            </ul>
          </span>
        </paper-material>

      </div>
  </template>
	<script>
		Polymer({
			is: 'page-leistungen'
		});
	</script>
</dom-module>