<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/demo/sample-content.html">

<dom-module id="page-home">
	<template>
		<style include="shared-styles">
			:host {
				display: flex;
				justify-content: center;
			}

			.wrapper {
				height: calc(100vh - 300px);
			}

			h1 {
				padding-top: 16px;
				margin-top: 0px;
			}

			.home-copy {
				max-width: 400px;
			}
		</style>

		<div class="Page">
			<div class="Page__section">
				<paper-material class="Page__item Page__item-small" elevation="1" class="home-copy">
					<h1>Willkommen bei Geladaris Immobilien!</h1>
					<p>Sind Sie es auch leid in Wuppertal nach einer zuverlässigen Hausverwaltung zu suchen? Eine, bei der Sie nicht alles selber machen müssen? Und eine die die Ihnen alles abnimmt damit Sie den Kopf frei haben, für die Dinge im Leben, die Ihnen wichtig sind?</p>
					<p>Zum Glück gibt es Geladaris Immobilien, Ihr zuverlässiger Immobilienpartner, welcher Ihnen mit über 20 Jahren exzellenten Rufs in der Immobilienbrache für Sie da ist, den Wert Ihrer Immobilien zu erhalten, Ihre Einnahmen zu maximieren und Ihnen dabei die Arbeit abnehmen.</p>
					<paper-button raised><a href="#/kontakt">Jetzt kontaktieren!</a></paper-button>
				</paper-material>
			</div>

			<div class="Page__section">
				<paper-material class="Page__item" elevation="1">
					<span>
						<h1>my home</h1>
						<p>Ut labores minimum atomorum pro. Laudem tibique ut has.
						<p>Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Lorem ipsum dolor sit amet, per in nusquam nominavi periculis, sit elit oportere ea.Cu mei vide viris gloriatur, at populo eripuit sit.</p>
					</span>
				</paper-material>
			</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'page-home'
		});
	</script>
</dom-module>