<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../../bower_components/paper-scroll-header-panel/demo/sample-content.html">

<dom-module id="page-home">
	<template>
		<style include="shared-styles">
			:host {
				display: flex;
				justify-content: center;
			}

			.wrapper {
				height: calc(100vh - 300px);
			}

			.home-copy {
				max-width: 400px;
			}
		</style>

		<div class="Page">
			<div class="Page__section">
				<paper-material class="Page__item Page__item-small" elevation="1" class="home-copy">
					<div class="Page__item-text">
						<h1>Willkommen bei Geladaris Immobilien!</h1>
						<p>Wir glauben daran, dass der Schritt von Mittelmaß zu Exzellenz mit einer Entscheidung beginnt.</p>
						<p>Die Entscheidung über etablierte Strukturen hinaus zu denken. Neue Wege zu ergründen und niemals aufzuhören, bis das menschenmöglichste Ergebnis erreicht ist.</p>

						<p>Und deshalb finden Sie bei Geladaris Immobilien immer mehr, als nur eine Immobilienverwaltung.</p>

						<p>Warum schreiben Sie uns nicht eine Nachricht, und wir sehen, wie wir Ihnen helfen können!</p>
					</div>

					<div class="Page__item-cta">
						<paper-button raised class="cta-button"><a href="#/kontakt" class="cta-link">Kontaktieren Sie uns Jetzt!</a></paper-button>
					</div>

				</paper-material>
			</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'page-home'
		});
	</script>
</dom-module>